*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: #0c8aff;
    font-weight: bold;
}

.dashboard {
    padding: 10px;
    padding-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
    color: white;
}

.first-icons {
    padding: 10px;
    padding-bottom: 20px;
}

.first-icons img {
    height: 10px;
    padding: 5px;
}

.first-icons div {
    font-size: 10px;
}

.second-icons {
    padding: 10px;
}

.second-icons img {
    height: 10px;
    padding: 5px;
}

.second-icons div {
    font-size: 10px;
}

/*  style of left stops here */

.center {
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: rgb(132, 150, 167);
    height: 100vh;
}

.center-head {
    background-color: #faf7f7;
    height: 23vh;
}

.head-up {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.search {
    height: 10px;
}

.head-up input[type=text] {
    padding: 0 15px;
    border: none;
    border-radius: 25px;
    background: #f1e8e8;
    width: 450px;
  }

  .head-up button {
    background: white;
    border: none;
    cursor: pointer;
  }

  .head-upright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    font-weight: bold;
  }

  .notification {
    height: 15px;
  }

  /*                 head-up style stops here                     */

  .head-bottom {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  .alien {
    height: 40px;
  }

  .head-bottomleft {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
  }

  .name-text {
    font-weight: bold;
    padding: 5px;
  }

  .hi {
    font-size: 10px;
  }

  .header-nav a {
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
    font-size: small;
    background-color: #0c8aff;
    color: #f1e8e8;
  }

  /*           center head styled completely           */

  .center-body {
    height: 77vh;
    background-color: #9b4279;
    width: 100%;
    padding: 10px 10px ;
  }

  .your-projects {
    background-color: #666656;
    width: 75%;
    height: 70vh;
  }

  .project-card {
    width: 40%;
    padding: 10px;
    height: 22vh;
    background-color: #f7f8f4;
    border: 1px solid #f5f2f2 ;
    border-radius: 5px;
    border-left-color: #e6e368;
    border-left-width: 7px;
  }

  .project-text {
    width: 80%;
    background-color: #666656;
    height: 10vh;
    font-size: 10px;
  }

  .project-icon {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }