* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  background-color: #0c8aff;
  font-weight: bold;
}

.dashboard {
  padding: 20px;
  padding-bottom: 20px;
}

.icon {
  display: flex;
  align-items: center;
  color: white;
}

.first-icons {
  padding: 10px;
  padding-bottom: 20px;
}

.first-icons img {
  height: 20px;
  padding: 10px;
}

.first-icons nav {
  font-size: 10px;
}

.second-icons {
  padding: 10px;
}

.second-icons img {
  height: 20px;
  padding: 10px;
}

.second-icons nav {
  font-size: 10px;
}

/*  style of left stops here */

.center {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: rgb(132 150 167);
  height: 100vh;
}

.center-head {
  background-color: #faf7f7;
  height: 23vh;
}

.head-up {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}

.form {
  display: flex;
}

.head-upleft {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}

.head-up input[type="text"] {
  padding: 0 15px;
  border: none;
  border-radius: 25px;
  background: #f1e8e8;
  width: 740px;
  height: 30px;
}

.head-up button {
  background: white;
  border: none;
  cursor: pointer;
}

.head-upright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  font-weight: bold;
}

.notification {
  height: 25px;
}

/*                 head-up style stops here                     */

.head-bottom {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.alien {
  height: 50px;
}

.head-bottomleft {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 40%;
}

.name-text {
  font-weight: bold;
  padding: 5px;
  font-size: 25px;
}

.hi {
  font-size: 15px;
}

.header-nav a {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 5px;
  font-size: small;
  background-color: #0c8aff;
  color: #f1e8e8;
}

.header-nav a:hover {
  background-color: #93a093;
  color: #000;
}

/*           center head styled completely           */

.center-body {
  height: 77vh;
  width: 100%;
  padding: 10px;
}

.your-projects {
  display: flex;
  height: 70vh;
}

.new-div {
  width: 70%;
}

.project-content {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 100%;
}

.project-card {
  width: 350px;
  padding: 10px;
  height: 15vh;
  background-color: #f7f8f4;
  border: 1px solid #f5f2f2;
  border-radius: 5px;
  border-left-color: #e6e368;
  border-left-width: 7px;
  margin-bottom: 8px;
}

.project-text {
  font-size: 12px;
  height: 7vh;
}

.project-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 5vh;
}

.project-icon img {
  padding-left: 10px;
  padding-top: 10px;
  height: 20px;
}

.announcement {
  width: 30%;
  height: 70vh;
}

.announcement-content {
  margin-left: 15px;
}

.announcement-card {
  width: 60%;
  background-color: #f7f8f4;
  border-radius: 5px;
  height: 30vh;
  padding: 10px;
  margin-top: 5px;
}

.card1 {
  font-size: 5px;
  padding: 5px;
  border-bottom: 1px solid #8d7c7c;
}

.card2 {
  font-size: 5px;
  padding: 5px;
  padding-top: 5px;
}

.trending-header {
  font-size: small;
  font-weight: bold;
  margin-top: 10px;
}

.trending-card {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #f7f8f4;
  height: 24vh;
  border-radius: 5px;
}

.trending-child {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 10px;
  width: 100%;
  padding: 4px;
}

.fast-text {
  padding-left: 10px;
}

.fast-head {
  font-weight: bold;
}
